.averaging {
  padding: 0.75rem 1rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5625rem;
    color: #ccc;
    font-weight: 500;
  }
}
